<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <i class="bi bi-cpu"></i> Sky Technology
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/nosotros}">Nosotros</a></li>

                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link" th:href="@{/carrito}">
                        <i class="bi bi-cart4"></i> Mi Carrito
                    </a>
                </li>

                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-item"><a class="nav-link" th:href="@{/contacto}">Contacto</a>
                </li>

                <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                    <a class="btn btn-outline-light ms-3" th:href="@{/login}">
                        <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
                    </a>
                </li>

                <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i>
                        <span th:text="${#authentication.name}">Usuario</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/perfil}"><i class="bi bi-person-lines-fill"></i> Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/mis-ordenes}"><i class="bi bi-bag-check"></i> Mis Órdenes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item text-danger" type="submit">
                                    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
